@media screen and (max-width: 700px) {
        .UnChangeable-div {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
        }

        .UnChangeable-div-child  {
            margin: 1rem 0;
        }
    }
