/* Colors - 
black: #000;
white: #fff;
dark purple: #720e9e;
light purple: #d0d0ff; */

/* font-family: 'Merriweather', serif; */

.about-us-first-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  padding: 50px 25px;
}

.about-us-first-wrapper h1 {
  font-size: 36px;
  margin-bottom: 50px;
  font-family: 'Merriweather', serif;
}

.about-us-first-wrapper p {
  font-size: 18px;
  line-height: 2rem;
}

.about-us-second-wrapper {
  display: flex;
  flex-direction: row;
  background-color: rgb(190, 190, 190, 0.5);
}

.about-us-first-right li {
  list-style: none;
  padding: 10px 0;
  font-size: 18px;
}

.about-us-first-right li::before {
  content: "✔";
  color: green;
  margin-right: 10px;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  transform: translateX(100%);
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
}

.custom-list li:nth-child(1) {
  animation: slideIn 0.5s ease forwards 1s;
}

.custom-list li:nth-child(2) {
  animation: slideIn 0.5s ease forwards 2s;
}

.custom-list li:nth-child(3) {
  animation: slideIn 0.5s ease forwards 3s;
}

.custom-list li:nth-child(4) {
  animation: slideIn 0.5s ease forwards 4s;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-us-first-right {
  margin-left: 40px;
}

.about-us-second-inner {
  padding: 75px 60px;
}

.about-us-second-inner h1 {
  color: #720e9e;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Merriweather', serif;
}

.about-us-second-inner p {
  color: #000;
  font-size: 18px;
}

.about-us-third-top {
  margin-top: 75px;
}

.about-us-third-top,
.about-us-third-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
}

.third-top-left,
.third-bottom-right {
  margin: 75px auto;
}

.third-top-right h1,
.third-bottom-left h1 {
  color: #720e9e;
  font-size: 36px;
  font-family: 'Merriweather', serif;
}

.third-top-right p,
.third-bottom-left p {
  color: #000;
  font-size: 18px;
  margin-right: 30px;
  line-height: 2rem;
}

.third-bottom-left {
  margin-left: 75px;
}

.about-us-third-top.appear {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.about-us-third-bottom.appear {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}