/* Colors - 
black: #000;
white: #fff;
dark purple: #720e9e;
light purple: #d0d0ff; */

body {
    margin: 0;
    padding: 0;
  }
  
  .inner-navbar-container {
    background-color: #720e9e; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
  }
  
  .inner-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner-navbar-right {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
  }

  .inner-navbar-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .inner-navbar-right li {
    margin: 0 30px;
  }

  .inner-navbar li {
    margin-right: 20px;
  }
  
  .inner-navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .inner-navbar img {
    width: 40px;
    height: 40px;
    margin: 0 50px; 
  }
  
  .inner-navbar a:hover {
    color: #d0d0ff;
  }  /* Colors - 
black: #000;
white: #fff;
dark purple: #720e9e;
light purple: #d0d0ff; */

body {
    margin: 0;
    padding: 0;
  }
  
  .navbar-container {
    background-color: #720e9e; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
  }

  .navbar-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar-right li {
    margin: 0 30px;
  }

  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar img {
    width: 40px;
    height: 40px;
    margin: 0 50px; 
  }
  
  .navbar a:hover {
    color: #d0d0ff;
  }  