/* Colors - 
black: #000;
white: #fff;
dark purple: #720e9e;
light purple: #d0d0ff; */

body {
  margin: 0;
  padding: 0;
}

.inner-navbar-container {
  padding: 10px 0;
  background-color: #720e9e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.menu-icon {
  display: none;
}

.inner-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-navbar-right-container {
  display: flex;
    align-items: center;
    margin-right: 1rem;
}

.inner-navbar-right {
  display: flex;
  flex-direction: row;
}

.inner-navbar-left a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inner-navbar-right li {
  margin: 1.3rem;
}

.inner-navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.inner-navbar-left img {
  width: 40px;
  height: 40px;
  margin: 0 50px;
}

.inner-navbar a:hover {
  color: #d0d0ff;
}

@media screen and (max-width: 700px) {
  .inner-navbar-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .inner-navbar img {
    margin: 0;
  }

  .inner-navbar-left-title {
    margin: 0 1rem;
  }

  .inner-navbar-right {
    margin: 1rem 0 .5rem 0;
    padding: 0;
  }

  .inner-navbar-left {
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .inner-navbar-left h2 {
    margin: 0;
  }

  .inner-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-navbar li {
    margin: 0 .7rem;
  }
}