.budget-pie-chart {
  margin: 2rem;
}

.budget-bar-chart {
    margin: 2rem;
}

.budget-area-chart {
    margin: 2rem;
}

.pie-area-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
    .pie-area-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
