.budget-pie-chart {
  margin: 2rem;
}

.budget-bar-chart {
    margin: 2rem;
}

.budget-area-chart {
    margin: 2rem;
}

.pie-area-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.budget-pie-chart-container {
    width: 100%;
}

.budget-area-chart-container {
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .pie-area-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
